* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

/*custom new york times font*/
@font-face {
    font-family: "Chomsky";
    src: url("assets/Chomsky.woff") format("woff");
}

/*left nav nested flexbox*/
#nav-left {
    display: flex;
    justify-content: flex-start;
}
.nav-left {
    align-self: center;
}


/*flexbox nav properties*/
#nav-container {
    display: flex;
    justify-content: center;
}
.nav-child {
    align-self: center;
}
.nav-child #new-york-times {
    flex: 5;
}

nav .nav-child {
    /* border: 1px solid red; */
}

/*hover nav actions*/
#hamburger:hover {
    cursor: pointer;
}
#search:hover {
    cursor: pointer;
}
#nav-text:hover {
    cursor: pointer;
    text-decoration: underline;
}
#new-york-times:hover {
    cursor: pointer;
}
#subscribe:hover {
    cursor: pointer;
}
#log-in:hover {
    cursor: pointer;
}

/*NAV FONT OVERRIDES*/
#nav-text {
    font-family: 'Coda Caption', sans-serif;
    font-size: 14px;
}

nav hr {
    width: 100%;
    position: absolute;
    top: 5%;
    border: none;
    height: 0.1%;
    background-color: rgb(197, 189, 189);
}
#nav-container {
    position: absolute;
    width: 100%;
    height: 5%;
    justify-content: center;
}

/*new york times font for nav*/
#new-york-times {
    font-family: "Chomsky", sans-serif;
    font-size: 1.5em;
}

/*HEADER CSS*/
header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 2.7em;
    position: absolute;
    top: 12%;
    width: 35%;
}

hr {
    height: 30%;
    width: 100%;
}

.socials-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 32%;
    margin-right: 4%;
}

.socials {
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-top: 42%;
    margin-left: 2%;
}




