* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

/*custom new york times font*/
@font-face {
    font-family: "Chomsky";
    src: url("assets/Chomsky.woff") format("woff");
}

/*flexbox nav properties*/
nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 2.6rem;
    align-items: center;
    background-color: white;
    z-index: 999;

}

#nav-left {
    display: flex;
    align-items:center;
    font-size: 14px;
    gap: 2rem;
    justify-content: flex-start;
}

nav #nav-center {
    display: flex;
    align-items: center;
}

/*hover nav actions*/
.nav-child:hover {
    cursor: pointer;
}
#nav-text:hover {
    text-decoration: underline;
}

/*NAV FONT OVERRIDES*/
#nav-text {
    font-family: 'Coda Caption', sans-serif;
    font-size: 14px;
}

#nav-container {
    position: absolute;
    width: 100%;
    height: 5%;
    justify-content: center;
}

#subscribe, #log-in {
    border: none;
    padding: 0.8em 0.8em 0.5em 0.8em;
    border-radius: 5%;
    background-color: #567b95;
    color: #F2FFF8;
    font-weight: bold;
}

/*new york times font for nav*/
#new-york-times {
    font-family: "Chomsky", sans-serif;
    font-size: 1.5em;
}

/*HEADER CSS*/
header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 2.7em;
    position: absolute;
    top: 12%;
    width: 35%;
}

hr {
    height: 30%;
    width: 100%;
}

.socials-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 32%;
    margin-right: 4%;
}

 .socials {
    /* background-color: rgb(219, 219, 219); */
    border-radius: 45%;
    margin-top: 42%;
    margin-left: 3%;
    background:rgb(219, 219, 219);
    height: 8%;
    border: 1px solid rgb(219, 219, 219);
    transition: background-color 0.3s ease;
}

.socials:hover {
    cursor: pointer;
    background-color:whitesmoke;
}

#img-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#header-img {
    height: 95%;
    width: 45%;
    align-self: center;
    order: 1;
    flex-wrap: wrap;
    margin-top: 2%;
}
figcaption {
    order: 2;
    width: 720px;
    margin: 0.625rem 0 1.25rem 0;
    line-height: 1.3;
    font-size: 15px;
    color: #666;
    align-self: center;
}

/*MAIN ARTICLE CSS*/
.main-article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.main-article > div, .main-article > p {
    max-width: 30%;
    min-width: 30%;
    margin-bottom: 1rem;
}

.main-article > p {
    font-size: 20px;
    line-height: 1.5;
}

#author {
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: thistle;
}

/* AD GRAY SPACE */
section aside {
    display: flex;
    justify-content: center;
    left:0;
    right:0;
    flex: 1;
}
.ad {
    color:teal;
    background-color: teal;
    height: 18rem;
    width: 100%;
    flex-basis: 50%;
}

/*continuation of the article*/
article .title {
    font-weight: bold;
    font-size: 22.5px;
}
section .caption {
    font-size: 15px;
    color: #666;
}